language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

matrix:
    allow_failures:
        - php: hhvm
        - php: 7
    fast_failure: true

install:
    - composer install --prefer-source --no-interaction

script:
    - phpunit

notifications:
    email: false
